# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/online-food-ordering
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=ranjith123@

# Server Configuration
SERVER_PORT=8080

# Mail / SMTP Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=trranjith00000@gmail.com
MAIL_PASSWORD=kamxpglvhajieyqa
MAIL_FROM=trranjith00000@gmail.com
MAIL_SENDER_NAME=Online Food Ordering Platform

# JWT Configuration
JWT_SECRET=FoodRushSuperSecretKeyThatIsLongEnoughForHmacSha256AlgorithmAndMoreSafe2026
JWT_EXPIRATION=86400000
