# Secrets
.env

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/target/
*.log

# Python cache
__pycache__/
*.py[cod]
.venv/
venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db